
<% if flash[:success].present? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= flash[:success] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div data-controller="tables" >
  <%= form_with(url: confirm_destroy_admins_path, method: :post, data: { action: 'turbo:submit-end->tables#modalShow' }) do |form| %>
    <div class="d-flex justify-content-between">
      <h1>Admins</h1>
      <div>
        <%= form.submit 'Delete', 
            class: 'btn btn-danger d-none', 
            data: { 'tables-target': 'deleteBtn' } %>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>
            <%= form.check_box('ids', { multiple: true, data: { action: 'change->tables#toggleAll', 'tables-target': 'masterCheck' } }, 'all', nil) %>
          </th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @admins.each do |admin| %>
          <tr>
            <td>
              <%= form.check_box('ids', { multiple: true, data: { 'tables-target': 'items', action: 'change->tables#sync' } }, admin.id, nil) %>
            </td>
            <td><%= admin.name %></td>
            <td><%= admin.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end  %>
</div>

<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="confirm-modal-content"></div>
    </div>
  </div>
</div>