<div data-controller="tables">
  <%= form_with(url: confirms_destroy_path, method: :post, data: { action: 'turbo:submit-end->tables#modalShow' }) do |form| %>
    <div class="d-flex justify-content-between">
      <h3>List of admin</h3>
      <div>
        <%= form.submit 'Delete', method: :post, 
                        class: 'btn btn-danger d-none', data: { 'tables-target': 'deleteBtn' } %>
      </div>
    </div>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>
            <%= form.check_box('ids', { multiple: true, data: { action: 'change->tables#toggleAll', 'tables-target': 'masterCheck' } }, 'all', nil) %>
          </th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @admins.each do |admin| %>
          <tr>
            <td>
              <%= form.check_box('ids', { multiple: true, data: { 'tables-target': 'items', action: 'change->tables#sync' } }, admin.id, nil) %>
            </td>
            <td><%= admin.name %></td>
            <td><%= admin.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end  %>
</div>

<div class="modal fade" tabindex="-1" id="sample-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editing <%= Employee.first.name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <p>Hello</p>
    </div>
  </div>
</div>